<div id="<%= dom_id task %>">
  <p>
    <strong>Name:</strong>
    <%= task.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= task.description %>
  </p>

  <p>
    <strong>Deathline:</strong>
    <%= task.deathline %>
  </p>

  <p>
    <strong>Notify:</strong>
    <%= task.notify %>
  </p>

  <p>
    <strong>Done:</strong>
    <%= task.done %>
  </p>

</div>
