<p style="color: green"><%= notice %></p>

<div class="in_line">
  <h1>Tasks</h1>
  <span><%= button_to "create", new_task_path, class: "material-symbols-outlined btn btn-primary", method: :get%></span>
  <%= render "tasks/search_form" %>
  Tasks done: <%= current_user.tasks_done_percentage %>
</div>

<div id="tasks">
  <table class="table">
  <tr class="table-primary">
    <th>Name</th>
    <th>Description</th>
    <th>Deadline</th>
    <th>Done</th>
    <th></th>
  </tr>
  <% @tasks.each do |task| %>
    <tr>
      <td><%= link_to task.name, task %></td>
      <td><%= task.description.first(20) %></td>
      <td><%= task.deadline.strftime("%M:%H %d.%m.%Y") %></td>
      <td><%= task.done %></td>

      <td>
        <span class="material-symbols-outlined"><%= button_to "edit", edit_task_path(task), method: :get, class: "btn btn-primary" %></span>
        <% if task.done %>
          <span class="material-symbols-outlined"><%= button_to "undo", task_path(task, task: { done: false }), method: :put, class: "btn btn-secondary" %></span>
        <% else %>
          <span class="material-symbols-outlined"><%= button_to "done", task_path(task, task: { done: true }), method: :put, class: "btn btn-secondary" %></span>
        <% end %>
        <span class="material-symbols-outlined"><%= button_to "delete", task_path(task), method: :delete, class: "btn btn-danger" %></span>
      </td>

    </tr>
  <% end %>
  </table>
</div>
