<nav class="navbar navbar-light navbar-expand-lg bg-orange">
  <div class="container-fluid">
    <%= link_to "Tasks", root_path, class: "navbar-brand", style: "text-style: bold;" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to "My tasks", tasks_path, class: "nav-link" %>
        </li>
      </ul>
      <div class="d-flex">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <% if user_signed_in? %>
              <%= current_user.email %>
            <% else %>
              No loogged in
            <% end %>
          </a>
          <ul class="dropdown-menu dropdown-menu-end">
            <% if user_signed_in? %>
              <%= link_to "Your profile", root_path, class: "dropdown-item"%>
              <li><hr class="dropdown-divider"></li>
              <%= button_to "Log out", destroy_user_session_path, class: "dropdown-item", method: :delete %>
            <% else %>
              <%= link_to "Log in", new_user_session_path, class: "dropdown-item"%>
              <%= link_to "Sign in", new_user_registration_path, class: "dropdown-item"%>
            <% end %>
          </ul>
        </ul>
      </div>
    </div>
  </div>
</nav>